@import '../../../styles/colors.scss';


.modal {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.81); 
}

/* Modal Content/Box */
.modal-content {
  background-color: $background-color;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid $text-color;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-bottom: 1rem;
  }
  input{
    border: 1px solid $text-color;
    outline: none;
    background-color: $background-color;
    color: $text-color;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  button{
    width: auto;
    height: auto;
    padding: 1rem 2.5rem 1rem 2.5rem;
    outline: none;
    background-color: $background-color;
    color: white;
    border: 1px solid white;
    font-size: 1.25rem;
  }    
  
  input:hover,button:hover{
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 25px 2px $primary-color;
  }
}

.modal-controls{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h2{
        font-size: 1.75rem;
    }
}

.close {
  color: $text-color;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover{
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

